/* Main container */

.home-container {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Introduction */

.introduction {
  display: flex;
  width: 650px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border-radius: 8px;
  border: 1px solid #444;
  background: #1e1e1e;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.contact-links, .skills {
  display: flex;
  gap: 15px;
}

.contact-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;

  border-radius: 50%;
  background: #fff;
}

.skills img {
  width: 24px;
}

.contact-links a:hover {
  background: #fff;
}
