#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.top-nav {
  display: flex;
  place-content: center;
  gap: 6px;

  padding: 10px;
}

.top-nav a {
  padding: 5px;
}
