* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 140%;
  font-weight: 400;

  color: #f3f3f3;
  background: #252525;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;

  width: 100%;
  padding: 15px 30px;
}

a {
  line-height: 100%;
  text-decoration: none;
  color: #fff;

  display: flex;
  place-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}
a:hover {
  background: #383838 !important;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1px;
}

/* Content Heading */
.text-content-header h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.5px;
}

/* Content Subheading */
.text-content-header h3 {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
